.topicMapItem {
  background-color: var(--theme-color-3);
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  height: 100%;
  padding: 0;
  position: relative;
  width: 100%;
}

.bgImage {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: 50% 50%;
  position: absolute;
  top: 0;
  width: 100%;
}

.title {
  padding: 0.5em;
}
