.fullscreenButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  height: 28px;
  margin: 0.5rem 0.5rem 0 0;
  right: 0;
}

.fullscreenButtonSvg {
  width: 14px;
}
