:root {
  --overlay-z-index: 2; // Higher than topic map items' z-indices
}

.overlay {
  opacity: 0.5;
  background-color: black;
  position: fixed;
  inset: 0;
  z-index: calc(var(--overlay-z-index) + 1);
}

.closeButton {
  position: fixed;
  top: 0.625rem;
  right: 0.625rem;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.dialogContent,
.dialogContentWide {
  background-color: white;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 85vh;
  z-index: calc(var(--overlay-z-index) + 1);
  padding: 1.5625rem;
  overflow: auto;
  overflow-y: hidden;
}

.dialogContent {
  width: 40vw;
}

.dialogContentWide {
  width: 70vw;
}

.tabWrapper {
  width: 47%;
  display: inline-block;
  height: 90%;
}

.noteWrapper {
  float: right;
  width: 47%;
  height: 80%;

  &.fullWidth {
    float: left;
    width: 100%;
  }
}

.dialogContent:focus,
.dialogContentWide:focus {
  outline: none;
}

.dialogTitle {
  margin: 0;
  font-weight: bold;
  color: black;
  font-size: 1.25rem;
  line-height: 1.2;
  z-index: calc(var(--overlay-z-index) + 1);
}

.confirmWindowContent {
  background-color: white;
  border-radius: 0.375rem;
  box-shadow: hsl(206 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0 10px 20px -15px;
  left: 50%;
  max-height: 85vh;
  overflow: auto;
  padding: 25px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  z-index: calc(var(--overlay-z-index) + 1);

  @media (prefers-reduced-motion: no-preference) {
    animation: show-dialog 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
}

.confirmButton,
.denyButton {
  background-color: #fff;
  border-radius: 0.25em;
  border: 2px solid currentColor;
  box-sizing: border-box;
  color: var(--theme-color-2);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin: 10px 0 0 0;
  padding: 0.5rem 1.25rem;
  width: auto;
}

.confirmButton {
  background-color: var(--theme-color-2);
  color: #fff;
}

.confirmationButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 1rem;
  margin: 1rem 0 0;
}

@keyframes show-overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-dialog {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
