.gridWrapper {
  background-blend-mode: soft-light;
  background-color: var(--theme-color-1);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 60%;
  position: relative;
}

.grid {
  inset: 1rem;
  position: absolute;
}

.itemWrapper {
  border-radius: 0.25rem;
  box-shadow: 0 0 0 2px var(--theme-color-4), 0 1px 4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: absolute;
  z-index: 1;

  &:focus-within {
    box-shadow: 0 0 0 2px #2360c5, 0 0 0 3px rgb(255, 255, 255);
  }
}

.fullscreenStyle {
  overflow: auto;
}
