.li,
a {
  color: rgba(31, 103, 199, 1);
}

.input {
  width: 228px;
  height: 32px;
  left: 254px;
  top: 433px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.inputButton {
  width: 85px;
  height: 32px;
  left: 481px;
  top: 433px;
  border: 0px;
  background: #eeeeee;
  cursor: pointer;
}
