.li {
    color: rgb(0, 38, 255)
}

.input {
    height: 32px;
    width: 228px;
    left: 254px;
    top: 433px;
    border-radius: 0px;

}

.inputButton {
    height: 32px;
    width: 85px;
    left: 481px;
    top: 433px;
    border-radius: 0px;
}