.trigger {
  all: unset;
  font-family: inherit;
  background-color: white;
  padding: 0 20px;
  height: 45;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15;
  line-height: 1;
  color: black;
  user-select: none;
  cursor: pointer;
  padding-bottom: 5px;
  max-width: min-content;

  &:first-child {
    border-top-left-radius: 6;
  }

  &:last-child {
    border-top-left-radius: 6;
  }

  &[data-state="active"] {
    font-weight: 800;
    box-shadow: 0 2px 0 0 #59a0ff;
  }

  &:focus {
    position: "relative";
  }
}

.list {
  flex-shrink: 0;
  display: flex;
  border-bottom: 1px solid grey;
}

.tabs {
  display: flex;
  flex-direction: column;
  width: 300;
}
