.arrow {
  width: 100px;
  height: 100px;
  display: flex;
}

.shadow {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.head {
  min-width: 28px;
  max-width: 28px;
}

.body {
  flex-grow: 1;
  width: 100%;
}

.pointLeft {
  transform: rotate(180deg);
}

.mirrorX {
  transform: scaleX(-1);
}

.pointUp {
  transform: rotate(-90deg);
}

.pointDown {
  transform: rotate(90deg);
}

.pointRight {
  transform: rotate(0deg);
}
