form {
  position: relative;
  width: 100%;
  height: 100%;
}

.textArea {
  resize: none;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 0.5rem;
}

.dynamicSavingText,
.wordCounter {
  color: var(--theme-color-2);
}

.textAreaWrapper {
  border: 2px solid #eeeeee;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  position: relative;
  top: 0.5rem;
  &:focus-within {
    border: 2px solid #2360c5;
  }
  &.maxWords {
    &:focus-within {
      border: 2px solid #cd2026;
    }
  }
}

.dynamicSavingText {
  line-height: 1.2;
  margin-block-start: 0;
  margin-block-end: 0.2rem;
  min-height: 1.2rem; // Should be equal to line-height
  order: 1;
}

.markAsDoneCheckbox {
  color: var(--theme-color-2);

  input[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin-right: 0.5rem;
    position: relative;
    top: 0.25rem;
  }
}

.topGroup {
  align-items: flex-end;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bottomGroup {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.wordCounter {
  vertical-align: middle;
  white-space: nowrap;

  &.redText {
    color: #cd2026;
  }
}

.noteLabel {
  line-height: 1.2;
  margin-block-start: 0.8rem;
  margin-block-end: 0.2rem;
  font-weight: 700;
  order: 2;
}
