.description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 0rem;
  margin-top: 8px;
  color: #000000;
}

audio {
  width: 100%;
  max-width: 50rem;
}
