.description{
    width: 372px;
    height: 12px;
    left: 270px;
    top: 250px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */

    color: #000000;
}