.mainBody {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-color-2);
  height: 100%;
  width: 100%;
  padding: 1rem 0;

  p {
    color: #ffffff;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.mainBodyContent {
  color: #ffffff;
  height: 100%;
  line-height: 1.5;
  width: 75%;
}

.mainBodyTitle {
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

.mainBodyTextWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;

  .smallUp & {
    flex-direction: row;
    gap: 5%;
  }
}

.mainBodyText {
  max-width: 40em;
  width: 80%;
}

.mainBodyButtons {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 1rem 1.5rem;
  justify-content: flex-end;
  margin-top: 1.5rem;
  width: 100%;

  .xSmallUp & {
    flex-direction: row;
  }
}

.mainBodyButton {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  color: #ffffff;
  padding: 0.5rem 1rem;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.backArrow {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 50%;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-size: 1rem !important;
  gap: 0.5rem;
  height: 1.5rem;
  left: -0.5rem;
  margin-bottom: 1rem;
  position: absolute;
  transform: translateX(-100%);
  width: 1.5rem;

  svg {
    height: 1rem;
    width: 1rem;
  }

  .xSmallUp & {
    height: 2rem;
    left: -1rem;
    width: 2rem;

    svg {
      height: 1.375rem;
      width: 1.375rem;
    }
  }
}
