.button {
  $size: 2rem;

  border: 2px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $size;
  padding: 0;
  width: $size;
}

.svgIcon {
  margin: 0 auto;
}
