.dialogText {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1.6;
}

.copyright {
  margin: 0.5em 0 1em;
}

.introduction,
.bodyText {
  margin: 1em 0 0 0;
}

.introduction {
  font-weight: 600;
}

.description {
  font-weight: 700;
  padding: 1rem 0;
}
