.mainBody {
  display: flex;
  background-color: var(--theme-color-2);
  flex-direction: row;
  width: 100%;
  padding: 1rem 2rem;
}

.navbarTitle {
  font-size: 22px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  position: absolute;
  padding: 0;
}

.sectionTitle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-right: 1rem;
  padding-top: 0;
  color: #ffffff;

  &[data-state="active"] {
    text-decoration: underline;
  }
}

.sectionContent {
  width: 100%;
  padding-top: 1.5rem;
  color: #ffffff;
}

.sectionsMenu {
  position: absolute;
  right: 2rem;
}
