.mainBody {
  display: flex;
  background-color: var(--theme-color-2);
  flex-direction: row;
  width: 100%;
  padding: 0.5rem 0.5rem;
}

.navbarTitle {
  font-size: 11px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  position: absolute;
  padding: 0;
}

.sectionTitle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-right: 0.3rem;
  padding-top: 0;
  color: #ffffff;

  &[data-state="active"] {
    text-decoration: underline;
  }
}

.sectionContent {
  width: 100%;
  padding-top: 1.5rem;
  color: #ffffff;
}

.sectionsMenu {
  position: absolute;
  top: 1.6rem;
  right: 1.3rem;
  font-size: 13px;
}

@media (min-width: 768px) {
  .mainBody {
    padding: 1rem 2rem;
  }

  .sectionTitle {
    padding-right: 1rem;
    font-size: inherit;
  }

  .sectionsMenu {
    right: 2rem;
    font-size: inherit;
    top: 2rem;
  }

  .navbarTitle {
    font-size: inherit;
  }
}
