.mainBody,
.notesList {
  display: flex;
  background-color: var(--theme-color-2);
  flex-direction: row;
  width: 100%;
  padding: 0.5rem 0.5rem;
}

.navbarTitle {
  font-size: 11px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  position: absolute;
  padding: 0;
}

.sectionTitle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-right: 0.3rem;
  padding-top: 0;
  color: #ffffff;

  &[data-state="active"] {
    text-decoration: underline;
  }
}

.sectionContent {
  width: 100%;
  padding-top: 1.5rem;
  color: #ffffff;
}

.sectionsMenu,
.sectionsMenu.hidden {
  position: absolute;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  overflow: visible;
  background-color: var(--theme-color-2);
  align-items: flex-end;
  padding: 0.5rem;
  right: 1rem;
  top: 3.5rem;
  gap: 0.5rem;
}

.sectionsMenu.hidden {
  display: none;
}

.notesList {
  background-color: #ffffff;
}

.hamburgerButton {
  position: absolute;
  right: 1.75rem;
  top: 1.55rem;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hamburgerButtonSvg {
  width: 16px;
}

@media (min-width: 768px) {
  .mainBody,
  .notesList {
    padding: 1rem 2rem 1.1rem;
  }

  .sectionTitle {
    padding-right: 1rem;
    font-size: inherit;
  }

  .sectionsMenu,
  .sectionsMenu.hidden {
    font-size: inherit;
    top: 1.5rem;
    right: 1.5rem;
    display: block;
  }

  .navbarTitle {
    font-size: inherit;
  }

  .hamburgerButton {
    display: none;
  }
}
