$h5p-navbar-z-index: 600;

.h5p-topic-map {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;

  &,
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  button,
  input,
  option,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
  }
}

.theme-1 {
  --theme-color-1: #2f4050;
  --theme-color-2: #40586f;
  --theme-color-3: #5a7c9c;
  --theme-color-4: #9db8d1;
}

.theme-2 {
  --theme-color-1: #2f5050;
  --theme-color-2: #3d6060;
  --theme-color-3: #548888;
  --theme-color-4: #a6d4d4;
}

.theme-3 {
  --theme-color-1: #7a1719;
  --theme-color-2: #981b1e;
  --theme-color-3: #c12326;
  --theme-color-4: #f97578;
}

.theme-4 {
  --theme-color-1: #131516;
  --theme-color-2: #373d3f;
  --theme-color-3: #6f7c80;
  --theme-color-4: #a7afb2;
}

.iPhoneFullscreenStyle {
  z-index: $h5p-navbar-z-index + 1;
}
