$p-margin: 1.5rem;

.mainBody {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-color-2);
  height: 100%;
  width: 100%;
  padding: 1rem 0;
  color: #ffffff;

  p {
    margin: 0;
  }

  p + p {
    margin-top: $p-margin;
  }
}

.mainBodyContent {
  width: 75%;
}

.mainBodyText {
  margin-top: $p-margin;
}

.mainBodyTitle {
  font-size: 20px;
  font-weight: bold;
}

.smallUp {
  .mainBodyText {
    columns: 2;
    column-gap: 2rem;
  }
}
