.trigger {
  all: unset;
  font-Family: inherit;
  background-Color: white;
  padding: 0 20px;
  height: 45;
  flex: 1;
  display: flex;
  align-Items: center;
  justify-Content: center;
  font-Size: 15;
  line-Height: 1;
  color: pink;
  user-Select: none;
  cursor: pointer;
}

.list {
  flex-Shrink: 0;
  display: flex;
  border-Bottom: 1px solid grey;
}


.tabs {
      display: flex;
  flex-Direction: column;
  width: 300;
  //box-Shadow: 0 2px 10px black;
}